<div class="container" style="height: 100vh;background-color: lightgrey;overflow:auto">
  <div class="row">
    <div *ngFor="let currCharacter of characters;let i=index;" class="col-3">
      <app-character-summary [character]="characters[i]" (displayCharacter)=displaySelectedCharacter($event);></app-character-summary>
    </div>
  </div>
</div>

<div mdbModal #characterDetailModal="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-fluid modal-full-width modal-center" role="document">
    <div class="modal-content">
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title">
          <i class="fas fa-users"></i>{{selectedCharacter?.name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="characterDetailModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-0 ">
        <app-character-detail [character]="selectedCharacter"></app-character-detail>
      </div>

    </div>
  </div>
</div>