<mdb-card (click)="doDisplay()">

  <!-- todo get image using character title -->
  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
  </mdb-card-img>

  <mdb-card-body>
    <mdb-card-title>
      <h4>{{character.name}}</h4>
    </mdb-card-title>
    <mdb-card-text>
      <div>
        <div>Gender : {{character.gender}} </div>
        <div>Birth : {{character.birth_year}} </div>
        <div>films :{{character.films.length}}</div>
        <div>species :{{character.species.length}}</div>
        <div>Starships :{{character.starships.length}}</div>
        <div>vehicles :{{character.vehicles.length}}</div>
      </div>
    </mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>