<div style="overflow:scroll;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
      <table mdbTable>
        <thead>
          <th>Property</th>
          <th>Value</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of keys;let i=index">
            <tr mdbTableCol *ngIf="item!=='films' && item!=='species' && item!=='vehicles'&&  item!=='starships'">
              <td>{{item}}</td>
              <td>{{character[item]}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
      <div>Movies</div>
      <div *ngFor="let movie of movies">
        {{movie.title}} - {{movie.created|date:'EEEE, MMMM d y'}}
      </div>
    </div>
  </div>
</div>